@font-face {
  font-family: "iconfont"; /* Project id 2545234 */
  src: url('iconfont.woff2?t=1625535768031') format('woff2'),
       url('iconfont.woff?t=1625535768031') format('woff'),
       url('iconfont.ttf?t=1625535768031') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan1:before {
  content: "\e607";
}

.icon-denglu:before {
  content: "\e604";
}

.icon-zhuce:before {
  content: "\e606";
}

.icon-fankui:before {
  content: "\e605";
}

.icon-gongneng:before {
  content: "\e64c";
}

.icon-fenxiang:before {
  content: "\e64d";
}

.icon-xiangsiti:before {
  content: "\e62c";
}

.icon-buganxingqu:before {
  content: "\e673";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-dianpu:before {
  content: "\e603";
}

.icon-kefu:before {
  content: "\e667";
}

.icon-coupon:before {
  content: "\e618";
}

.icon-guanyuwomen:before {
  content: "\e60a";
}

.icon-qian:before {
  content: "\e625";
}

.icon-wenti:before {
  content: "\e601";
}

.icon-zhanghuanquan:before {
  content: "\e615";
}

.icon-daifahuo:before {
  content: "\e60d";
}

.icon-yijian:before {
  content: "\e619";
}

.icon-wodeshoucang:before {
  content: "\e737";
}

.icon-shezhi:before {
  content: "\e62e";
}

.icon-leixing:before {
  content: "\e6bd";
}

.icon-gouwuche2:before {
  content: "\e600";
}

.icon-dituzhaofang:before {
  content: "\e624";
}

.icon-wode:before {
  content: "\e763";
}

.icon-zixun:before {
  content: "\e60f";
}

.icon-shouye:before {
  content: "\e650";
}

