.nav_wrap {
    height: 45px;
    .am-navbar-left{
        padding-left: 5px;
        .am-icon-md{
            width: 28px;
            height: 28px;
        }
    }
    .am-navbar-title {
        font-size: 15px;
    }
}