.comment {
    width: 100%;
    height: auto;
    padding: 20px;
    .comment_top,
    .comment_mid,
    .comment_bot {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .comment_top {
        input {
            width: 100%;
            height: 45px;
            border: 1px solid #ccc;
        }
        textarea {
            width: 100%;
            height: 100px;
            margin-top: 20px;
            border: 1px solid #ccc;
        }
        button,
        a {
            margin-top: 20px;
        }
    }
    .comment_mid {
        font-size: 20px;
        text-align: center;
    }
    .comment_bot {
        li {
            font-size: 20px;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;

            .am-button {
                width: 100px;
            }
        }
    }
}