.error_wrap{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 90%;
    }
    h3{
        color: #333;
        font-size: 18px;
        margin-top: 50px;
    }
    p{
        color: #999;
        font-size: 15px;
        margin-top: 30px;
    }
    .error_btn{
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        a{
            width: 40%;
            font-size: 15px;
        }
    }
}